.guide-info, .student-info{
    text-align: left;
    padding: 10px 10px 0px 10px;
}
.admin-body-left{
    overflow: auto;
    height: 90vh;
}
.table-column {
    width:95%; /* Adjust the width as needed */
  }