nav {
    background-color: #333;
    padding: 10px 0;
    margin-top: 0;
  }
  
  .navbar-options {
    display: flex;
    justify-content: space-around;
   
  }
  
  #navbar-option {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease;
    background-color: #333;
    border-radius: 8px;
    padding: 5px;
  }
  
  #navbar-option:hover {
   border-radius: 10px;
   background-color:dimgrey;

  }
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 15px;
    cursor: pointer;
  }
  
  .review-schedule-container {
    display: none;
    padding: 20px;
    background-color: #f1f1f1;
  }
  
  .review-schedule-container h2 {
    color: #333;
  }
  
  .datetime-info p {
    margin-bottom: 5px;
  }
  
  .footer {
    margin-top: 20px;
    color: #777;
  }
  