nav {
    background-color: #333;
    padding: 10px 0;
    margin-top: 0;
  }
  
  .navbar-options {
    display: flex;
    justify-content: space-around;
   
  }
  
  #navbar-option {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease;
    background-color: #333;
    border-radius: 8px;
    padding: 5px;
  }
  
  #navbar-option:hover {
   border-radius: 10px;
   background-color:dimgrey;

  }
  