.container1{
    width: 100%;
    margin:auto;
    padding-top: 10px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);;
}

.labletd{
  font-size: 18px;
  font-weight: bold;
  color: #020406;
  display: block;
  margin-bottom: 5px;
  text-align: left; /* Add this line to align the text to the left */
  margin-left: 30px;
}

.labeltd{
    margin-bottom: 20px;
    margin-left: 0;
}

.form-control-file{
    border: 1px solid rgb(196, 196, 196);
    padding: 5px;
}

.tablehead{
    padding-bottom: 30px;
}


.label4 {
    font-size: 18px;
    color: #020406;
    margin-bottom: 5px;
    text-align: left; /* Add this line to align the text to the left */
    margin-left: 100px;
    margin-top: 20px;
  }
  