/* StaffStudentAdd.css */

.container {
    margin-top: 50px;
  }
  
  h3 {
    color: #007bff; /* Bootstrap primary color */
  }
  
  form {
    background-color: #f8f9fa; /* Bootstrap form background color */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #5e88b2; /* Bootstrap form border color */
    border-radius: 5px;
  }
  
  button {
    background-color: #dfebe2; /* Bootstrap success color */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #218838; /* Bootstrap darker success color on hover */
  }
  
  /* Optional: Add more styling as needed */
  