#buttonn{
    background-color: #199c10;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

.input-tex{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.contain{
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 0%;
  height:80%;
  width:100%;
  margin-left:25%;

}
.headings{
  font-size: 24px;
  color: #333;
  text-align: center;
  margin-bottom: 0%;
}
.covering{
    margin-top: 5%;
    height:100%;
    width:100%;
}
.labelss{
    font-weight: bold;
    color: #555;
}
.cancel-buttonn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #ff6347; /* Tomato color */
    font-size: 16px;
    font-weight: bold;
  }
  